Grafana-Alloy/config.alloy
Grafana-Alloy/config.alloy.bak
Mealie/mealie-pgdata/
Muse/muse/
NGINX-Proxy-Manager/data/
NGINX-Proxy-Manager/letsencrypt/
Stirling-PDF/StirlingPDF
Suivi-Bourse/config.yaml
